

.header_split{
    color: black;
    font-size: xx-large;
}

.title_part{
    padding: 8px;
    height: 80px;
    width:auto;
    background-color: silver;
    box-sizing: border-box;
    display: 'flex';
    padding: grid;
    overflow: 'auto';
    white-space: nowrap;
}


.daysback{
    padding: 8px;
    height: 50px;
    max-height: 50px;
    width:auto;
    background-color: silver;
    box-sizing: border-box;
    padding: grid;
    overflow: 'auto';
    display: flex;
}

.days{
    padding: 8px;
    width: 166px;
    min-width: 124px;
    margin: 0px 8px 0px 0px;
    background-color: lavender;
    border: 2px solid royalblue;
    display: inline-flex;
    flex-direction: row;
}

.container{
    height: 400px;
    width:900px;
    background-color: silver;
}

.draggable{
    padding: 10px;
    height: 400px;
    width: 150px;
    cursor: move;
    background-color: lavender;
    border: 2px solid royalblue;
    display: inline-block;
    justify-content: space-between; 
    box-sizing: border-box;
}

.dragging{
    opacity: 0.5;
    background-color: royalblue;
    display: inline-block;
    justify-content: space-between; 
}



/*------------------------------STYLES FROM RYAN------------------------------------*/  
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  background: url("../images/pexels-victor-freitas-841130.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.container2{
  margin: auto;
  width: 50%;
  border: 3px solid rgb(94, 94, 94);
  padding: 10px;

  height: 350px;
  width:650px;
  background-color: silver;
}

.container3{
  margin: auto;
  width: 50%;
  border: 3px solid rgb(94, 94, 94);
  padding: 10px;

  height: 475px;
  width:650px;
  background-color: silver;
}


.custom-control-label {
  font-weight: 400;
}

.new-login,
.new-login a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.new-login a {
  color: #167bff;
}













